# Ranorex (Autotests)
/Ranorex-Autotests-Samples/**/*.csproj.rxuser
/Ranorex-Autotests-Samples/**/*.rxsln.pref
/Ranorex-Autotests-Samples/**/*.rxsettings
/Ranorex-Autotests-Samples/**/*.csproj.pref
/Ranorex-Autotests-Samples/Reports/*.*
/Ranorex-Autotests-Samples/Bin/*.*
/Ranorex-Autotests-Samples/Obj/*.*
/Ranorex-Autotests-Samples/**/*.rximg
/Ranorex-Autotests-Samples/RepositoryImages/*.*
*.rxlog
*.rximgres


# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.rximg
